@font-face { font-family: Scoreboard; src: url('../fonts/scoreboard.ttf'); }

html, div, body {
    background: black;
    color: salmon;
    font-family: Scoreboard;
    margin: auto;
    text-align: center;
}

#display {
    width: 1000px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    display: block;
}

a {
    color: DarkKhaki;
}

a {
    font-family: Scoreboard;
    font-size: 400%;
}


h1 {
    text-align: center;
}

.score {
    font-size: 400%;
}

.holder {
    position: relative;
    margin-top: -120px;
    padding-left: 105px;
    width: 1000px;
}

#sc0 {
    float: left;
}


#sc1 {
    margin-left: 172px;
    float: left;
}


#sc2 {
    margin-left: 172px;
    float: left;
}


#sc3 {
    margin-left: 172px;
    float: left;
}

.team-name {
    font-size: 400%;
    margin-top: -700px;
    color: #82a4ef;
}

#name0 {
    width: auto;
    height: auto;
    white-space: nowrap;
    position:absolute;
}

#name1 {
    width: auto;
    height: auto;
    white-space: nowrap;
    position:absolute;
}

#name2 {
    width: auto;
    height: auto;
    white-space: nowrap;
    position:absolute;
}

#name3 {
    width: auto;
    height: auto;
    white-space: nowrap;
    position:absolute;
}
